<!DOCTYPE html>
<html lang="en" ng-app="BubbleSorterAngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/bubblesorter-ng-controller.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Bubble Sort</title>
</head>
<body ng-controller="SampleController">
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}

<h3>***Bubble Sort***</h3>
<br/>
Enter a list of numbers, separated by spaces.
<input type="text" ng-model="inputString"/>
<input type="button" ng-click="submitInputString(inputString)" value="Enter"/>

<br/>
<br/>
<h4>Your sorted list: </h4>
<span ng-repeat="currentInt in sortedList">
    {{currentInt}} <br/>
</span>

</body>
</html>